 <!-- Sidebar -->
    <aside class="bg-gray-100 text-black w-64 p-4 flex flex-col">
      <div class="text-lg font-bold mb-6">tickLore</div>
      <nav class="flex flex-col space-y-4">
        <a href="/admin/dashboard" 
       class="p-2 rounded {{#if (eq currentPath '/admin/dashboard')}}bg-yellow-500 text-white{{else}}text-black hover:bg-yellow-200 hover:text-white{{/if}}">Dashboard</a>
        <a href="/admin/customers"
         class="p-2 rounded {{#if (eq currentPath '/admin/customers')}}bg-yellow-500 text-white{{else}}text-black hover:bg-yellow-200 hover:text-white{{/if}}">Customers</a>
        <a href="/admin/products" 
        class="p-2 rounded {{#if (eq currentPath '/admin/products')}}bg-yellow-500 text-white{{else}}text-black hover:bg-yellow-200 hover:text-white{{/if}}">Products</a>
       <a href="/admin/category" 
        class="p-2 rounded {{#if (eq currentPath '/admin/category')}}bg-yellow-500 text-white{{else}}text-black hover:bg-yellow-200 hover:text-white{{/if}}">Category</a>
        <a href="/admin/orders" 
       class="p-2 rounded {{#if (eq currentPath '/admin/orders')}}bg-yellow-500 text-white{{else}}text-black hover:bg-yellow-200 hover:text-white{{/if}}">Orders</a>
        <a href="/admin/coupons"
         class="p-2 rounded {{#if (eq currentPath '/admin/coupons')}}bg-yellow-500 text-white{{else}}text-black hover:bg-yellow-200 hover:text-white{{/if}}">Coupons</a>
        <a href="/admin/offers"
         class="p-2 rounded {{#if (eq currentPath '/admin/offers')}}bg-yellow-500 text-white{{else}}text-black hover:bg-yellow-200 hover:text-white{{/if}}">Offers</a>
        
        <a href="/admin/salesReport" 
        class="p-2 rounded {{#if (eq currentPath '/admin/salesReport')}}bg-yellow-500 text-white{{else}}text-black hover:bg-yellow-200 hover:text-white{{/if}}">Sales Report</a>
        
        <a href="/admin/logout" 
        class="p-2 rounded {{#if (eq currentPath '')}}bg-yellow-500 text-white{{else}}text-black hover:bg-yellow-200 hover:text-white{{/if}}">Logout</a>
        
      </nav>
    </aside>